body {
  background-color: red;
}

.box-clock {
  margin: 0 auto;
  width: 600px;
  height: 200px;
  position: relative;
  background-color: black;
}

.box-name {
  margin: 0 auto;
  width: 600px;
  height: 50px;
  position: relative;
}

.box-name>#block:last-child {
  margin-right: 0;
}

#clock {
  margin-top: 20%;
  margin-left: 35%;
  padding-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 150px;
}